[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
phonenumbers = "*"

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"
zappa = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
